.malload {
  &__step {
    padding-top: 50px;
  }
  .step-btn {
    margin-top: 15px;
    transition-duration: 0.3s;
    transition-property: margin-top;
    width: 100%;

    &.invalid {
      margin-top: 25px;
    }
  }

  .confirmation-btn {
    transition-duration: 0.3s;
    transition-property: margin;

    &.invalid {
      margin: 5px 0 20px 0;
    }
  }

  .confirmation-error,
  .confirmation-hint {
    text-align: center;
  }

  .input-field {
    width: 100%;

    &.ng-invalid.ng-touched {
      color: red;
    }
  }

  .footer-btn {
    display: block;
    margin: auto;
    width: 75%;

    &:first-of-type {
      margin: 40px auto 10px auto;
    }
  }

  .devider {
    margin-top: 15px;
  }

  .mal-img {
    text-align: center;

    img {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      height: 150px;
      margin-top: 10px;
      transition-duration: 0.3s;
      transition-property: box-shadow transform;
      width: 120px;

      &:hover {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
        transform: scale(1.01);
      }
    }
  }
}
