.malload {
  &__step {
    padding-top: 50px;
  }
  .step-btn {
    margin-top: 15px;
    transition-duration: 0.3s;
    transition-property: margin-top;
    width: 100%;

    &.invalid {
      margin-top: 25px;
    }
  }

  input.ng-invalid.ng-touched {
    color: red;
  }
}
