/**
	Base - General global rules that apply at all times.
*/

@charset 'utf-8';

@import './../utils/colors';

// #region Scrollbar

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($color-primary, 40%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($color-primary, 20%);
}

// #endregion
