<div class="welcome-wrapper">
  <div [@fadeLogo]="'in'"
    class="welcome-wrapper__logo">
    <img src="assets/icon-title.png"
      alt="MAS logo">
  </div>

  <div [@fadeSubtitle]="'in'"
    class="welcome-wrapper__header">
    <p class="subtitle">You do the watching, we do the tracking!</p>
  </div>

  <div class="welcome-wrapper__content">
    <button mat-stroked-button
      color="primary"
      [@fadeLoadButton]="'in'"
      (click)="loadMALAccount()">
      <mat-icon>info</mat-icon>
      <span>Load MAL account</span>
    </button>
    <button mat-stroked-button
      color="primary"
      [@fadePermButton]="'in'"
      (click)="grantPermission()">
      <mat-icon>info</mat-icon>
      <span>Grant notification permission</span>
    </button>
    <button mat-flat-button
      color="primary"
      [disabled]="!this.isExtReady()"
      [@fadeStartButton]="'in'"
      (click)="onStartClicked()">
      Get started
    </button>
  </div>
</div>
