<div class="welcome-wrapper">
  <div [@fadeLogo]="'in'"
    class="welcome-wrapper__logo">
    <img src="assets/icon-title.png"
      alt="MAS logo">
  </div>

  <div [@fadeSubtitle]="'in'"
    class="welcome-wrapper__header">
    <p class="subtitle">You do the watching, we do the tracking!</p>
  </div>

  <div class="welcome-wrapper__content">
    <app-requirement-btn [prop-true-icon]="'check_circle'"
      [prop-true-icon]="'info'"
      [prop-text]="'Load MAL account'"
      [prop-state]="this.requiredSteps.MALAccount"
      (onClickEvent)="loadMALAccount()"
      [@fadeLoadButton]="'in'"></app-requirement-btn>
    <app-requirement-btn [prop-true-icon]="'check_circle'"
      [prop-true-icon]="'info'"
      [prop-text]="'Grant notification permission'"
      [prop-state]="this.requiredSteps.permission"
      (onClickEvent)="grantPermission()"
      [@fadePermButton]="'in'"></app-requirement-btn>
    <button mat-flat-button
      color="primary"
      [disabled]="!this.isExtReady()"
      [@fadeStartButton]="'in'"
      (click)="onStartClicked()">
      Get started
    </button>
  </div>
</div>
