.steps-wrapper {
  position: relative;

  &::before {
    content: '';

    height: 100%;
    left: 23px;
    top: 0;
    position: absolute;
    z-index: -1;

    border-left: 4px dashed #dbdbdb;
  }
}
